section.main
    div.container

        div.text

            h1 Контактная #[b информация]

            div.contacts
                div.adress
                    span.medium адрес
                    h4 г. Москва ул. Ленина 46/1

                div.phone
                    span.medium телефон
                    h4 8 800 555-44-33

                div.email
                    span.medium почта
                    h4 atlantis@info.ru

                div.socials
                    a(href="index.html"): img(src="images/telegram.svg", alt="Телеграм")
                    a(href="index.html"): img(src="images/whatsapp.svg", alt="Телеграм")

                button Написать нам
            
            
        img(src='images/12.webp').background
