mixin slide(image, title, text)
    div.swiper-slide
        div.image
            img(src=image, alt=title)
        div.text
            h4= title 
            span= text

section.advantages
    div.container

        div.description
            h2 Преимущества
            hr
            span.medium Наша экспертиза гарантирует не только надёжную защиту, но и профессиональное урегулирование убытков.
            button Получить консультацию

        div.slider
            div.swiper#test
                div.swiper-wrapper
                    +slide('images/1.webp', 'Доступ к эксклюзивным решениям', 'Разрабатываем эксклюзивные программы совместно с ведущими страховыми компаниями')
                    +slide('images/2.webp', 'Экономия времени и переговорная сила.', 'Мы знаем, какие условия реально достижимы, и ведём переговоры со страховщиками за вас — без бесконечных согласований и отказов.')
                    +slide('images/3.webp', 'Защита интересов при убытках.', 'Добиваемся справедливых выплат для наших клиентов. Юридический департамент сопровождает на всех этапах урегулирования убытков.')
                    +slide('images/4.webp', 'Конфиденциальность и сервис.', 'Персональный менеджер решит все страховые вопросы за вас — быстро, профессионально и конфиденциально.')
            div.swiper-pagination