mixin question(title)
    div.accordion
        div.accordion_caption
            h4= title
            div.icon
                div
                div
        div.accordion_content
            div.accordion_overflow
                div.accordion_wrap
                    p Страхование премиального транспорта и техники покрывает широкий спектр рисков, включая:
                    ul
                        li ДТП (дорожно-транспортные происшествия) и аварии;
                        li Пожар, взрыв, удар молнии и другие стихийные бедствия;
                        li Угон, хищение, кража и противоправные действия третьих лиц;
                        li Повреждения от столкновения с животными;
                        li Повреждения при транспортировке, погрузке и разгрузке техники;
                        li Поломки и технические неисправности, включая перегрузку, перегрев и короткое замыкание (для техники);
                        li Вандализм и повреждение стекол и осветительных приборов;
                        li Несчастные случаи с участием водителя и пассажиров;
                        li Ущерб от простоев и причинение вреда третьим лицам или окружающей среде.
                    p Комплексное страхование охватывает до 99% возможных рисков, что особенно важно для дорогой и уникальной техники и транспорта

section.faq
    div.container

        div.title
            h2 #[b Часто задаваемые] вопросы
            hr
            span.medium Эти вопросы помогут лучше понять особенности и условия страхования премиального транспорта и техники

        div.list
            +question('Какие риски покрывает страхование премиального транспорта и техники?')
            +question('Как продлить полис и какие есть условия продления?')
            +question('Как формируется стоимость полиса для премиального автомобиля или техники?')
            +question('Какие документы нужны для оформления страхового полиса?')
            +question('Можно ли застраховать спортивные или коллекционные автомобили?')
            +question('Что делать при наступлении страхового случая?')

        div.load
            img(src="images/load.svg", alt="")
            span Показать еще