footer
    div.container
        div.top
            div.main
                a(href="index.html").logotype
                    img(src="images/logotype_dark.svg", alt="")
                span.adress 121596, Москва #[br]ул. Толбухина, д. 13, корп. 2
                div.contacts
                    a(href="mailto:atlantis@info.com").email.underline atlantis@info.com
                    a(href="tel:880055544433").phone 8 800 555-44-33
            div.services_private
                a(href="catalog.html"): h4 Частный страховой бутик
                ul 
                    li: a(href="category.html").underline Страхование премиального транспорта
                    li: a(href="category.html").underline Страхование недвижимости
                    li: a(href="category.html").underline Страхование имущества
                    li: a(href="category.html").underline Персональные риски
                    li: a(href="category.html").underline Страхование от киберрисков
            div.services_business
                a(href="catalog.html"): h4 Брокерская деятельность по корпоративному страхованию
                ul 
                    li: a(href="category.html").underline Страхование имущества
                    li: a(href="category.html").underline Страхование ответственности
                    li: a(href="category.html").underline Отраслевые решения
                    li: a(href="category.html").underline Страхование финансовых рисков
                    li: a(href="category.html").underline Экологическое страхование
                    li: a(href="category.html").underline Страхование ответственности директоров (D&O)
                    li: a(href="category.html").underline Киберстрахование, Страхование киберрисков
                    li: a(href="category.html").underline Страхование сделок слияний и поглощений (M&A)
                    li: a(href="category.html").underline Страхования концессионного соглашения
                    li: a(href="category.html").underline Страхование строительных рисков
            div.other
                ul 
                    li: a(href="about.html").underline: h4 О Компании
                    li: a(href="blog.html").underline: h4 Блог
                    li: a(href="contacts.html").underline: h4 Контакты
        div.bottom
            span © 2025. Все права защищены
            a(href="index.html").underline Политика конфиденциальности
            a(href="index.html").underline Пользовательское соглашение