header
    color: white
    padding-top: 30px
    padding-bottom: 30px
    position: absolute

    div.container
        display: grid
        align-items: center
        grid-template-columns: 1fr max-content 1fr
        +screen(m)
            grid-template-columns: repeat(3, max-content)
            justify-content: space-between
        +screen(xs)
            grid-template-columns: repeat(2, max-content)

    a.logotype
        position: relative
        opacity: 0
        width: 180px
        z-index: 100
        +screen(m)
            width: 140px
            order: 1
        img
            width: 100%

    div.menu
        cursor: pointer
        opacity: 0
        display: grid
        justify-content: start
        grid-auto-flow: column
        align-items: center
        text-transform: uppercase
        grid-gap: 15px
        position: relative
        z-index: 1100
        +screen(m)
            order: 3

        div.icon
            width: 35px
            div
                position: relative
                width: 100%
                height: 1px
                background: white
                &:nth-child(1)
                    top: 1px
                &:nth-child(3)
                    top: -1px
                    width: 66%
                    left: 34%

    div.contacts
        opacity: 0
        display: grid
        align-items: center
        grid-auto-flow: column
        grid-auto-columns: max-content
        justify-content: end
        grid-gap: 30px
        z-index: 100
        +screen(m)
            order: 2
        +screen(xs)
            display: none
        a
            font-size: 20px
            &:first-child
                +screen(m)
                    display: none
