header
    div.container

        div(onclick="menuOpen(this)").menu
            span Меню
            div.icon
                div
                div
                div

        a(href="index.html").logotype
            img(src="images/logotype_light.svg", alt="")

        div.contacts
            a(href="tel:880055566633") 8 800 555-44-33
            a(href=""): img(src="images/telegram.svg", alt="")
            a(href=""): img(src="images/whatsapp.svg", alt="")