section.process
    div.container

        div.description
            h2 Процесс #[b оформления]
            hr
            span.large Индивидуальный подход, конфиденциальность и высокий уровень сервиса — ключевые принципы работы с нашими клиентами.
            button Получить консультацию

        div.list
            div.step
                h4: b 1
                h4 #[b Конфиденциальная] консультация #[b и] аудит
                span Конфиденциальная консультация и аудит текущей ИБ-защиты позволяют выявить индивидуальные риски и уровень защищённости клиента
            div.step
                h4: b 2
                h4 #[b Индивидуальный] расчет стоимости #[b и лимитов]
                span На основании аудита проводится индивидуальный расчет стоимости и лимитов страхового покрытия, учитывающий специфику активов и пожелания клиента
            div.step
                h4: b 3
                h4 Согласование #[b условий и ]подписание договора
                span После согласования всех условий оформляется и подписывается договор страхования, в том числе с возможностью дистанционного заключения
            div.step
                h4: b 4
                h4 #[b Постоянная] поддержка #[b и реагирование на инциденты]
                span Клиент получает постоянную поддержку и оперативное реагирование на киберинциденты для минимизации ущерба и восстановления работы
