section.subscribe
    div.container
        div.description
            h2 Подписка #[b на рассылку]
            hr
            span.medium Индивидуальный подход, конфиденциальность и высокий уровень сервиса — ключевые принципы работы с нашими клиентами.
            button Подписаться

    img(src='images/23.webp').background