section.main
    div.container

        div.text
            div.title
                h1 Страхование #[b премиального] транспорта
                span.medium Страхование премиального транспорта и техники защищает дорогие авто и спецтехнику от ДТП, угона, пожара и других рисков.
            button Забронировать консультацию
            
        img(src='images/2.webp').background
