mixin slide(image, title, text)
    div.swiper-slide
        div.image
            img(src=image, alt=title)
        div.text
            h4= title 
            span= text
            a(href="service.html").button Подробнее

section.subservices
    div.container

        div.description
            h2 Что входит #[b в страхование премиального транспорта]
            hr
            span.medium Обладаем всесторонним пониманием специфики страховых услуг, актуальных программ и условий, а также умеем анализировать риски и потребности клиента, чтобы предложить наиболее подходящие и выгодные страховые решения

        div.slider
            div.swiper
                div.swiper-wrapper
                    +slide('images/13.webp', 'Страхование воздушных судов', 'Обладаем всесторонним пониманием специфики страховых услуг, актуальных программ и условий, а также умеем анализировать риски и потребности клиента, чтобы предложить наиболее подходящие и выгодные страховые решения')
                    +slide('images/37.webp', 'Страхование морских судов', 'Обладаем всесторонним пониманием специфики страховых услуг, актуальных программ и условий, а также умеем анализировать риски и потребности клиента, чтобы предложить наиболее подходящие и выгодные страховые решения')
                    +slide('images/14.webp', 'Страхование автомобилей', 'Обладаем всесторонним пониманием специфики страховых услуг, актуальных программ и условий, а также умеем анализировать риски и потребности клиента, чтобы предложить наиболее подходящие и выгодные страховые решения')
            div.swiper-pagination