mixin slide(image, title, subtitle, text)
    div.swiper-slide
        div.text
            div.title
                h1= title
                h4= subtitle
            if text
                span.medium= text
            button Забронировать консультацию
        img(src=image)

section.main
    div.container

        div.swiper
            div.swiper-wrapper
                +slide('images/9.webp', 'cтраховые решения', 'для взыскательных клиентов', 'Конфиденциальность и надежность — основа нашего сервиса. Обсудите условия с персональным менеджером')
                +slide('images/12.webp', 'cтраховые решения', 'для бизнеса', 'Конфиденциальность и надежность — основа нашего сервиса. Обсудите условия с персональным менеджером')
                +slide('images/23.webp', 'cтраховые решения', 'для взыскательных клиентов', 'Конфиденциальность и надежность — основа нашего сервиса. Обсудите условия с персональным менеджером')
         
        div.swiper-pagination
