mixin service(title, text, image)
    div.swiper-slide
        div.text
            h3 !{title}
            span= text
            a(href="category.html").button подробнее
        img(src=image)

section.services
    div.container
        h2.gsap_title Услуги #[br]#[b страхования]

        div.tabs
            div.tabs_captions
                div.tab_caption.opened: span.medium Частным клиентам
                div.tab_caption: span.medium Бизнесу
            
            div.tabs_contents
                div.tab_content.opened
                    div.swiper.private
                        div.swiper-wrapper
                            +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/26.webp')
                            +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/2.webp')
                            +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/3.webp')
                            +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/4.webp')
                            +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/5.webp')
                    div.swiper-pagination
                div.tab_content
                    div.swiper.business
                        div.swiper-wrapper
                            +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/5.webp')
                            +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/4.webp')
                            +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/3.webp')
                            +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/2.webp')
                            +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/1.webp')
                    div.swiper-pagination
