include ../../common/pug/_mixins.pug

section.articles
    div.container
        div.list
            +article_card('Статья', 'images/14.webp', 'Преимущества страхового брокера', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
            +article_card('Статья', 'images/26.webp', 'Что нужно знать', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
            +article_card('Статья', 'images/17.webp', 'Что нужно знать', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
            +article_card('Статья', 'images/18.webp', 'Преимущества страхового брокера', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
            +article_card('Статья', 'images/19.webp', 'Что нужно знать', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
            +article_card('Статья', 'images/11.webp', 'Что нужно знать', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
            +article_card('Статья', 'images/21.webp', 'Преимущества страхового брокера', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
            +article_card('Статья', 'images/30.webp', 'Что нужно знать', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
            +article_card('Статья', 'images/23.webp', 'Что нужно знать', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')