section.main
    div.container

        div.text
            div.title
                h1 Новости #[b и] статьи
                span Страхование премиального транспорта и техники защищает дорогие авто и спецтехнику от ДТП, угона, пожара и других рисков.
            
        img(src='images/12.webp').background
