include ../../common/pug/_mixins.pug

section.articles
    div.container
        h2 #[b Возможно вам] #[br]будет интересно
        
        div.swiper
            div.swiper-wrapper
                div.swiper-slide: +article_card('Статья', 'images/32.webp', 'Преимущества страхового брокера', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                div.swiper-slide: +article_card('Статья', 'images/15.webp', 'Что нужно знать', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                div.swiper-slide: +article_card('Статья', 'images/23.webp', 'Что нужно знать', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                div.swiper-slide: +article_card('Статья', 'images/32.webp', 'Преимущества страхового брокера', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                div.swiper-slide: +article_card('Статья', 'images/15.webp', 'Что нужно знать', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                div.swiper-slide: +article_card('Статья', 'images/23.webp', 'Что нужно знать', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')