section.content
    div.container
        span(style="text-align: center").medium Среди всех видов страхования работа с эксклюзивными клиентами имеет ряд тонкостей. На вопросы "РГ" об этой специфике и о том, почему важно строить бизнес вокруг клиента, ответила вице-президент компании, руководитель подразделения по обслуживанию VIP-клиентов Ирина Пономарева.
        
        div.image.single
            img(src="images/16.webp", alt="")
        
        div.quote
            h3 “В 2008 году было принято решение выделить работу с такими клиентами в самостоятельное подразделение и уже в его рамках выстраивать особый уровень сервиса. Первым делом мы определили для себя критерии - кто может стать клиентом"
            div.author
                h4 Ирина Пономарева
                span Вице-президент компании
        span.medium Во-первых, это клиенты из руководства крупных корпораций. Второй критерий - размер премии по договору. Если она составляет 500 тысяч рублей и выше, это повод предложить клиенту VIP-обслуживание. Еще один критерий - уровень влияния на общественное мнение. Популярные артисты, спортсмены, блогеры с большой аудиторией - всем этим клиентам можно предложить персональное обслуживание. Крупные чиновники, судейский корпус - это также наши потенциальные клиенты.
        span.medium Во-первых, это клиенты из руководства крупных корпораций. Второй критерий - размер премии по договору. Если она составляет 500 тысяч рублей и выше, это повод предложить клиенту VIP-обслуживание. Еще один критерий - уровень влияния на общественное мнение. Популярные артисты, спортсмены, блогеры с большой аудиторией - всем этим клиентам можно предложить персональное обслуживание. Крупные чиновники, судейский корпус - это также наши потенциальные клиенты.
        
        div.image.left
            img(src="images/21.webp")
            span.medium Во-первых, это клиенты из руководства крупных корпораций. Второй критерий - размер премии по договору. Если она составляет 500 тысяч рублей и выше, это повод предложить клиенту VIP-обслуживание. Еще один критерий - уровень влияния на общественное мнение. Популярные артисты, спортсмены, блогеры с большой аудиторией - всем этим клиентам можно предложить персональное обслуживание. Крупные чиновники, судейский корпус - это также наши потенциальные клиенты.
        
        
        h2 Вы много лет в этом бизнесе. В чем самые приятные его стороны? А что дается тяжело?
        
        div.slider
            div.swiper
                div.swiper-wrapper
                    div.swiper-slide: div.image: img(src='images/22.webp')
                    div.swiper-slide: div.image: img(src='images/23.webp')
                    div.swiper-slide: div.image: img(src='images/24.webp')
                    div.swiper-slide: div.image: img(src='images/25.webp')
                    div.swiper-slide: div.image: img(src='images/26.webp')
            div.swiper-pagination
        
        span.medium Во-первых, это клиенты из руководства крупных корпораций. Второй критерий - размер премии по договору. Если она составляет 500 тысяч рублей и выше, это повод предложить клиенту VIP-обслуживание. Еще один критерий - уровень влияния на общественное мнение. Популярные артисты, спортсмены, блогеры с большой аудиторией - всем этим клиентам можно предложить персональное обслуживание. Крупные чиновники, судейский корпус - это также наши потенциальные клиенты.
        span.medium Во-первых, это клиенты из руководства крупных корпораций. Второй критерий - размер премии по договору. Если она составляет 500 тысяч рублей и выше, это повод предложить клиенту VIP-обслуживание. Еще один критерий - уровень влияния на общественное мнение. Популярные артисты, спортсмены, блогеры с большой аудиторией - всем этим клиентам можно предложить персональное обслуживание. Крупные чиновники, судейский корпус - это также наши потенциальные клиенты.
       
        div.image.right
            span.medium Во-первых, это клиенты из руководства крупных корпораций. Второй критерий - размер премии по договору. Если она составляет 500 тысяч рублей и выше, это повод предложить клиенту VIP-обслуживание. Еще один критерий - уровень влияния на общественное мнение. Популярные артисты, спортсмены, блогеры с большой аудиторией - всем этим клиентам можно предложить персональное обслуживание. Крупные чиновники, судейский корпус - это также наши потенциальные клиенты.
            img(src="images/27.webp")
        
        
        h2 Вы много лет в этом бизнесе. В чем самые приятные его стороны? А что дается тяжело?
        
        span.medium Во-первых, это клиенты из руководства крупных корпораций. Второй критерий - размер премии по договору. Если она составляет 500 тысяч рублей и выше, это повод предложить клиенту VIP-обслуживание. Еще один критерий - уровень влияния на общественное мнение. Популярные артисты, спортсмены, блогеры с большой аудиторией - всем этим клиентам можно предложить персональное обслуживание. Крупные чиновники, судейский корпус - это также наши потенциальные клиенты.