section.main
    div.container

        div.text
            span.large 26 апреля 2025
            h1 В эксклюзивном страховании необходимо учитывать много факторов
            
        img(src='images/12.webp').background
