mixin service(title, text, image)
    div.swiper-slide
        div.text
            h3 !{title}
            span= text
            a(href="category.html").button подробнее
        img(src=image)

section.services
    div.container
        h2 Услуги #[br] #[b для частных клиентов]

        div.swiper.private
            div.swiper-wrapper
                +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/26.webp')
                +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/2.webp')
                +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/3.webp')
                +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/4.webp')
                +service('Премиальный <br>транспорт и техника', 'Страхуем премиальные активы по эксклюзивным программам ведущих  страховщиков.', 'images/5.webp')
        div.swiper-pagination

