section.details
    div.container
        span.large Страховые риски при страховании воздушных судов #[b включают гибель, пропажу без вести] или повреждение воздушного судна в результате #[b аварий, катастроф, пожаров, стихийных бедствий, действий третьих лиц, угона], а также #[b ответственность перед третьими лицами] за причинённый вред жизни, здоровью и имуществу