section.details
    div.container
        span.large Страхование воздушных судов — это #[b комплексная защита от финансовых потерь], связанных с #[b повреждением, гибелью или утратой воздушного судна], а также ответственности перед третьими лицами.