include ../../common/pug/_mixins.pug


section.subservices
    div.container
        span.large Индивидуальный подход, конфиденциальность и высокий уровень сервиса — ключевые принципы работы с нашими клиентами.
        
        div.subservice
            h2 #[b Страхование] Вертолетов
            span.medium Обладаем всесторонним пониманием специфики страховых услуг, актуальных программ и условий, а также умеем анализировать риски и потребности клиента, чтобы предложить наиболее подходящие и выгодные страховые решения
            button Заказать консультацию

        +gallery('images/11.webp', 'images/7.webp', 'images/8.webp')
        

        div.subservice
            h2 #[b Страхование] самолетов
            span.medium Обладаем всесторонним пониманием специфики страховых услуг, актуальных программ и условий, а также умеем анализировать риски и потребности клиента, чтобы предложить наиболее подходящие и выгодные страховые решения
            button Заказать консультацию

        +gallery('images/21.webp', 'images/13.webp', 'images/6.webp')