section.process
    div.container

        div.list
            div.step
                h4: b 1
                h4 Независимость #[b и] прозрачность #[b в работе]
                span Конфиденциальная консультация и аудит текущей ИБ-защиты позволяют выявить индивидуальные риски и уровень защищённости клиента
            div.step
                h4: b 2
                h4 Индивидуальный подход #[b к каждому клиенту]
                span На основании аудита проводится индивидуальный расчет стоимости и лимитов страхового покрытия, учитывающий специфику активов и пожелания клиента
            div.step
                h4: b 3
                h4 Профессионализм и глубокая экспертиза #[b в корпоративном страховании]
                span После согласования всех условий оформляется и подписывается договор страхования, в том числе с возможностью дистанционного заключения
            div.step
                h4: b 4
                h4 Конфиденциальность #[b и] доверие
                span Клиент получает постоянную поддержку и оперативное реагирование на киберинциденты для минимизации ущерба и восстановления работы
