section.details
    div.container
        span.large Наш частный страховой бутик #[b основан в 2015 году] и с тех пор успешно работает с корпоративными клиентами премиального сегмента. #[b Мы не связаны с конкретными страховыми компаниями], что позволяет нам подбирать исключительно лучшие и выгодные решения для вашего бизнеса.

        span.large Работаем по всей России и странам СНГ, #[b имеем все необходимые лицензии и аккредитации]. Наши специалисты — признанные эксперты с многолетним опытом в области страхования имущества, ответственности, транспорта и киберрисков.
