section.details
    div.container
        span.large Мы предлагаем комплексные #[b страховые решения, адаптированные под уникальные потребности вашего бизнеса.] Наша команда экспертов работает только в интересах клиента, обеспечивая высокий уровень сервиса и прозрачность на каждом этапе.
        button Забронировать консультацию