section.main
    div.container

        div.text
            h1 #[b Премиальное] страхование для вашего бизнеса
            span.large Эксклюзивный подход, конфиденциальность и максимальная защита корпоративных рисков с поддержкой опытных брокеров
            
        img(src='images/12.webp').background
