section.mission
    div.container
        div.image
            img(src="images/35.webp")
            div.text
                h2 Миссия:
                span.medium Защищать бизнес наших клиентов, предлагая премиальные страховые продукты и экспертный брокерский сервис с максимальной эффективностью и конфиденциальностью.