mixin person(image, name, position)
    div.swiper-slide
        div.person
            img(src=image, alt=name)
            div.text
                h4= name
                span= position

section.team
    div.container

        div.title
            span.large Наша команда
            h2 Эксперты, #[b которым доверяют]

        div.swiper
            div.swiper-wrapper
                +person('images/36.webp', 'Александр Иванов', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                +person('images/37.webp', 'Дмитрий Кузнецов', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                +person('images/38.webp', 'Мария Смирнова', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                +person('images/39.webp', 'Сергей Соколов', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                +person('images/36.webp', 'Александр Иванов', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                +person('images/37.webp', 'Дмитрий Кузнецов', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                +person('images/38.webp', 'Мария Смирнова', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')
                +person('images/39.webp', 'Сергей Соколов', 'Преимущества страхового брокера перед прямым обращением в страховую компанию')

        div.swiper-pagination