extends common/pug/_layout.pug

block links
    link(rel="stylesheet", href="css/about.css")

block content
    include sections/about/_main.pug
    include sections/about/_details.pug
    include sections/about/_mission.pug
    include sections/about/_advantages.pug
    include sections/about/_details2.pug
    include sections/about/_team.pug
    include sections/about/_gallery.pug
    include sections/_articles.pug