extends common/pug/_layout.pug

block links
    link(rel="stylesheet", href="css/category.css")

block content
    include sections/category/_main.pug
    include sections/category/_services.pug
    include sections/category/_details.pug
    include sections/_process.pug
    include sections/category/_gallery.pug
    include sections/_faq.pug