extends common/pug/_layout.pug

block links
    link(rel="stylesheet", href="css/service.css")

block content
    include sections/service/_main.pug
    include sections/service/_details.pug
    include sections/service/_subservices.pug
    include sections/service/_details2.pug
    include sections/_process.pug
    include sections/_faq.pug