section(data-dialog="consulting")

    img(src="images/cross.svg", alt="", onclick="consulting()").cross

    div.container
        h1 Забронировать #[br]консультацию
        form
            input(type="text", placeholder="Как к Вам обращаться?")
            input(type="text", placeholder="8 (___) ___-__-__")
            button Забронировать
