section(data-dialog="menu")
    div.container
        ul 
            li: a(href="index.html").underline: h4 Главная
            li: a(href="about.html").underline: h4 О Компании
            li: a(href="blog.html").underline: h4 Блог
            li: a(href="contacts.html").underline: h4 Контакты
            li: a(href="catalog.html").underline: h4 Услуги для частных клиентов
            li: a(href="catalog.html").underline: h4 Услуги для бизнеса